@let staticStats = stats();
<div class="p-8 h-full flex flex-col">
  <app-typography text="Dashboard" tagType="h1" className="mb-16 text-center" />
  <div class="flex w-full items-center justify-center gap-4 flex-wrap">
    <app-stat-card
      title="Utilisateurs"
      [value]="staticStats?.totalUsers!.toString() ?? '0'"
      description="Nombre d'utilisateurs global"
    />
    <app-stat-card
      title="Utilisateurs actifs"
      [value]="staticStats?.activeUsers!.toString() ?? '0'"
      description="Nombre d'utilisateurs avec un abonnement en cours"
    />
    <app-stat-card
      title="Revenue"
      [value]="staticStats?.monthlyRevenue!.toString() ?? '0'"
      description="Revenu généré mensuellement"
    />
    <app-stat-card
      title="Taux d'occupation"
      [value]="Math.ceil(staticStats?.averageCourseOccupancyRate ?? 0).toString()"
      description="Taux d'occupation moyen des cours"
    />
  </div>
</div>
