<div class="toast">
  @for (toast of toasts(); track toast.id) {
    <div
      role="alert"
      class="alert alert-dismissible cursor-pointer"
      [class.alert-info]="toast.alertType === 'info'"
      [class.alert-success]="toast.alertType === 'success'"
      [class.alert-error]="toast.alertType === 'error'"
      (click)="dismiss(toast.id)"
      (keyup.enter)="dismiss(toast.id)"
    >
      <lucide-angular [img]="toast.iconName" />

      <span>{{ toast.message }}</span>
    </div>
  }
</div>
