<div class="card card-xl w-full sm:w-96 bg-base-200">
  <div class="card-body">
    <form (ngSubmit)="onSubmit()" [formGroup]="firstLoginForm">
      <fieldset class="fieldset">
        <app-input
          [label]="'Mot de passe'"
          [name]="'password'"
          formControlName="password"
          type="password"
        />
        <app-input
          [label]="'Confirmer mot de passe'"
          [name]="'password'"
          formControlName="confirmPassword"
          type="password"
        />
      </fieldset>
      <div class="card-actions text-center px-8 mt-4">
        <button
          (click)="onSubmit()"
          [class.btn-disabled]="firstLoginForm.invalid"
          class="btn btn-primary w-full"
          type="submit"
        >
          Enregistrer le mot de passe
        </button>
      </div>
    </form>
  </div>
</div>
