<div class="hero bg-base-200 min-h-screen">
  <div class="hero-content flex-col lg:flex-row">
    <img
      src="/building-page-image.png"
      alt="Muscle man devant un pc"
      class="max-w-sm rounded-lg shadow-2xl"
    />
    <div class="flex-row gap-4">
      <h1 class="text-5xl font-bold">Pieds Croisés arrive !</h1>
      <p class="py-6">
        Le développement de la plateforme Pieds Croisés est en cours. Elle sera disponible dans
        quelques semaines.
      </p>
      <div class="font-bold text-3xl">Keep in touch !</div>
      <button class="btn btn-primary btn-lg mt-8" (click)="addToast(this.toast)">
        Ne clique pas !
      </button>
    </div>
  </div>
</div>

<div class="toast">
  @for (toast of toasts(); track toast.content) {
    <div
      role="alert"
      class="alert alert-error cursor-pointer"
      (click)="removeAllToasts()"
      (keyup.enter)="removeAllToasts()"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="h-6 w-6 shrink-0 stroke-current"
        fill="none"
        viewBox="0 0 24 24"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z"
        />
      </svg>
      <span>{{ toast.content }}</span>
    </div>
  }
</div>
