<footer class="bg-neutral text-neutral-content p-10 border-t border-[#444444] text-sm md:text-base">
  <div class="container mx-auto grid grid-cols-1 md:grid-cols-4 gap-8 text-center md:text-left">
    <div class="flex justify-center items-center gap-8">
      <a href="#" class="hover:text-primary"><i class="fab fa-x-twitter fa-2x"></i></a>
      <a href="#" class="hover:text-primary"><i class="fab fa-instagram fa-2x"></i></a>
      <a href="#" class="hover:text-primary"><i class="fab fa-youtube fa-2x"></i></a>
      <a href="#" class="hover:text-primary"><i class="fab fa-linkedin fa-2x"></i></a>
    </div>

    @if (boxInfo$ | async; as boxInfo) {
      <div>
        <app-typography text="Contact" tagType="h3" class="footer-title text-base md:text-lg" />
        <app-typography text="Mail : {{ boxInfo.email }}" tagType="p" />
        <app-typography text="Tél : {{ boxInfo.phoneNumber }}" tagType="p" />
      </div>

      <div>
        <app-typography
          text="Infos pratiques"
          tagType="h3"
          class="footer-title text-base md:text-lg"
        />
        <app-typography text="{{ boxInfo.schedule }}" tagType="p" />
        <app-typography text="{{ boxInfo.address }}" tagType="p" />
        <app-typography text="{{ boxInfo.city }} {{ boxInfo.zipcode }}" tagType="p" />
      </div>
    }

    <div>
      <app-typography text="Légal" tagType="h3" class="footer-title text-base md:text-lg" />
      <a href="#" class="link link-hover">Mentions légales</a><br />
      <a href="#" class="link link-hover">CGU</a><br />
      <a href="#" class="link link-hover">Confidentialités</a>
    </div>
  </div>
</footer>
