<button (click)="logOut()" class="btn btn-primary">Se déconnecter</button>

<app-messages-container />
<app-course-list />

<app-typography text="Texte h1 ! " tagType="h1" />
<app-typography text="Texte h2 !" tagType="h2" />
<app-typography text="Texte h3 !" tagType="h3" />
<app-typography text="Texte h4 !" tagType="h4" />
<app-typography text="Texte span !" tagType="span" />
<app-typography text="Texte p !" tagType="p" />
<app-typography text="teste surchage css d'un h1" tagType="h1" class="text-blue-500 text-xl" />


<div>
  Je suis un admin ? <span class="ml-4">{{ isAdmin() ? '✅' : '❌' }}</span>
</div>

<div class="mt-4">{{ user() | json }}</div>
