<button (click)="logOut()" class="btn btn-primary">Se déconnecter</button>

<app-messages-container />
<app-course-list />

<p>1:</p>
<app-typography type="h2" class="text-blue-500"> Texte via ng-content h2 ! </app-typography>

<p>2:</p>
<app-typography type="h1"> Texte via ng-content h1! </app-typography>

<p>3:</p>
<app-typography type="h1" class="text-blue-500">testeeee</app-typography>
<div>
  Je suis un admin ? <span class="ml-4">{{ isAdmin() ? '✅' : '❌' }}</span>
</div>

<div class="mt-4">{{ user() | json }}</div>
