@switch (tagType()) {
  @case ('h1') {
    <h1 [class]="finalClass()">{{ text() }}</h1>
  }
  @case ('h2') {
    <h2 [class]="finalClass()">{{ text() }}</h2>
  }
  @case ('h3') {
    <h3 [class]="finalClass()">{{ text() }}</h3>
  }
  @case ('h4') {
    <h4 [class]="finalClass()">{{ text() }}</h4>
  }
  @case ('p') {
    <p [class]="finalClass()">{{ text() }}</p>
  }
  @case ('span') {
    <span [class]="finalClass()">{{ text() }}</span>
  }
  @default {
    <div [class]="finalClass()">{{ text() }}</div>
  }
}
