<div class="card card-xl w-full sm:w-96 bg-base-200">
  <div class="card-body">
    <form (ngSubmit)="onSubmit()" [formGroup]="NewPasswordForm">
      <fieldset class="fieldset">
        <app-input
          [label]="'Mot de passe'"
          [name]="'password'"
          formControlName="password"
          type="password"
        />
        <app-input
          [label]="'Confirmer mot de passe'"
          [name]="'password'"
          formControlName="confirmPassword"
          type="password"
        />
      </fieldset>
      <div class="card-actions text-center mt-4">
        <button
          [class.btn-disabled]="NewPasswordForm.invalid || isLoading"
          class="btn btn-primary w-full text-pretty"
          type="submit"
        >
          Enregistrer le nouveau mot de passe
        </button>
      </div>
    </form>
  </div>
</div>
